/**
 * Pages - Home
 **************
 */

.page-home {
  color: cornsilk !important;
}

@media screen and (max-width: 479px) {
  .page-home {
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .page-home {
  }
}

@media screen and (min-width: 768px) and (max-width: 1055px) {
  .page-home {
  }
}
